<!DOCTYPE html>
<html>
<head>
  <title>artdst</title>
  <style type="text/css">
    #publicKey {
      display: block;
      width: 400px;
      height: 300px;
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <h1>Apply to use the artdst API</h1>
  <input type="text" placeholder="Full Product Name" id="fullName" />
  <input type="email" placeholder="contact@email.com" id="email" />
  <textarea placeholder="Signing Certificate" id="publicKey"></textarea>
  <input type="button" id="apply" value="Apply" />
  <script src="/js/consumerapply.js"></script>
</body>
</html>
