<!DOCTYPE html>
<html>
<head>
  <title>artdst</title>
</head>
<body>
  <input type="text" id="username" name="username" placeholder="username" />
  <input type="email" id="email" name="email" placeholder="example@email.com" />
  <input type="password" id="password" name="password" placeholder="password" />
  <input type="hidden" id="referrer" name="referrer" value="<%= referrer %>" />
  <input type="button" id="sendbutton" value="Send!" />
  <script src="/js/auth.js"></script>
</body>
</html>
